*~
*.elc
.cask
*.~undo-tree
recentf
bookmarks
projectile-bookmarks.eld
projectile.cache
srecode-map.el
server/
.lsp-session-*
transient/
eshell/
eln-cache/
elpa/
.cache/
.pat
url/
last-package-update-date